
main {
    background: #F4F4F5;
    min-height: 100vh;
    min-width: 100vw;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashboard-section {
    
}