
main {
    background: #F4F4F5;
    padding: 2rem;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex-grow: 1;
}

.register-card {

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1rem;

    background-color: white;
    font-size: 95%;
    border-radius: 5px;
    max-width: 50%;
    padding: 3%;
    margin: 8%;

}

form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 0.5rem;

}

input {
    padding: 3%;
    margin-bottom: 10%;
    border: 1px solid #E7E5E4;
    border-radius: 4px;
}

button {
  border: none;


  background-color: #5D0EC0;
  color: white;
  padding: 5px;
  border-radius: 3px;
}

button:hover {
  color: black;
  background-color: #AD46FF;
}

a {
    color: #5D0EC0;
    text-decoration: none;
}

a:hover {
    color: #AD46FF;
}