/*Here goes register styles*/

/* Main container styling */
main {
    background: #F4F4F5;
    padding: 2rem;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex-grow: 1;
}
/* Register form container */
.register-card {

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1rem;

    background-color: white;
    font-size: 95%;
    border-radius: 5px;
    max-width: 50%;
    padding: 3%;
    margin: 8%;

}
/* Form styling */
form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 0.5rem;

}
/* Input field styling */
input {
    padding: 3%;
    margin-bottom: 10%;
    border: 1px solid #E7E5E4;
    border-radius: 4px;
}
/* Button base style */
button {
  border: none;


  background-color: #5D0EC0;
  color: white;
  padding: 5px;
  border-radius: 3px;
}
/* Button hover effect */
button:hover {
  color: white;
  background-color: #AD46FF;
}
/* Link base style */
a {
    color: #5D0EC0;
    text-decoration: none;
}
/* Link hover effect */
a:hover {
    color: #AD46FF;
}